//colors
$light-blue: #1ACDCC;
$dark-gray: #2B2D33;
//font weight
$font-bold: 700;
//TO DO-create mixin for box shawoding
//TO DO-include mixin for header, main img & feature lists.

@import "http://fonts.googleapis.com/css?family=Lato:300,700.css";
@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation.scss";

@mixin box-shadow(){
  -webkit-box-shadow: 0 0 5px 3px #ccc7cf;
  -moz-box-shadow: 0 0 5px 3px #ccc7cf;
  box-shadow: 0 0 5px 3px #ccc7cf;
}

body {
  background-image: url('/images/VolcanoBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  // border: 2px solid pink;

  .title {
    background-image: url('/images/VoggyLogo.png');
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 40px;
  } 
}

.location_box{
  // border: 2px solid orange;
}

ul.location_info{
  li {
    text-decoration: none;
    font-size: 25px;
    list-style-type: none;
    color: white;
  }
}

.sicky_row {
  // border: 2px solid orange;
}

div.sicky {
  list-style-type: none;

  .face-smile {
    background-image: url('/images/face-sad.png');
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .face-plain {
    background-image: url('/images/face-plain.png');
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .face-sad {
    background-image: url('/images/face-sad.png');
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.icon_row {
  // border: 2px solid orange;
  // background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.map-3 {
  background-image: url('/images/map-3.png');
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}

.camera-icon {
  background-image: url('/images/camera-icon.png');
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}

.info {
  background-image: url('/images/info.png');
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;  
}

